spring:
  profiles:
    group:
      local:
        - common
        - security
        - persistence-local
        - server-local
      prod:
        - common
        - server-prod
        - security
        - persistence-prod
---
spring:
  config:
    activate:
      on-profile: common
# server-common

# persistence-common
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
--- # local-server
spring:
  config:
    activate:
      on-profile: server-local
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
server:
  port: 9021
--- # prod-server
spring:
  config:
    activate:
      on-profile: server-prod
  lifecycle:
    timeout-per-shutdown-phase: 30s
server:
  shutdown: graceful
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
---
spring:
  config:
    activate:
      on-profile: security
--- # persistence-local
spring:
  config:
    activate:
      on-profile: persistence-local
  jpa:
    generate-ddl: false
  flyway:
    enabled: true # ??? ??
    baseline-on-migrate: true # springboot 2 ???? ??? ??? ??. ??? ??
    locations: classpath:db/migration, classpath:db/seed
    baseline-version: 1
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH;
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
redis:
  host: localhost
  port: 6379
--- # persistence-prod
spring:
  config:
    activate:
      on-profile: persistence-prod
  jpa:
    hibernate:
      ddl-auto: validate
    generate-ddl: false
  flyway:
    enabled: true # ??? ??
    baseline-on-migrate: true # springboot 2 ???? ??? ??? ??. ??? ??
    locations: classpath:db/migration # prod ????? migration? ??
    baseline-version: 1
  datasource:
    url: ${DB_CONNECTION_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
decorator:
  datasource:
    p6spy:
      enable-logging: false
redis:
  host: ${DB_REDIS_HOST}
  port: ${DB_REDIS_PORT}
  password: ${DB_REDIS_PASSWORD}
---