networks:
  network-processor:
    external: true

services:

  nginx:
    image: arm64v8/nginx
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - network-processor
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - TZ=Asia/Seoul
    volumes:
      - /home/deploy/lfr/nginx/nginx.conf:/etc/nginx/conf.d/nginx.conf
      - /home/deploy/lfr/nginx/processor-active-upstream.conf:/etc/nginx/processor-active-upstream.conf
      - /home/deploy/lfr/nginx/frontend-active-upstream.conf:/etc/nginx/frontend-active-upstream.conf


  processor-blue:
    # todo change image name
    image:  ${IMAGE_NAME:-ghcr.io/olkkani/lostark-for-rice:latest}
    container_name: processor-blue
    ports:
      - "18081:8080"
    networks:
      - network-processor
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - DB_CONNECTION_URL=${DB_CONNECTION_URL}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_REDIS_HOST=${DB_REDIS_HOST}
      - DB_REDIS_PORT=${DB_REDIS_PORT}
      - DB_REDIS_PASSWORD=${DB_REDIS_PASSWORD}
      - TZ=Asia/Seoul
      - SPRING_PROFILES_ACTIVE=prod

  processor-green:
    # todo change image name
    image:  ${IMAGE_NAME:-ghcr.io/olkkani/lostark-for-rice:latest}
    container_name: processor-green
    ports:
      - "18082:8080"
    networks:
      - network-processor
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - DB_CONNECTION_URL=${DB_CONNECTION_URL}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_REDIS_HOST=${DB_REDIS_HOST}
      - DB_REDIS_PORT=${DB_REDIS_PORT}
      - DB_REDIS_PASSWORD=${DB_REDIS_PASSWORD}
      - TZ=Asia/Seoul
      - SPRING_PROFILES_ACTIVE=prod


  front-blue:
    container_name: front-blue
    # todo change image name
    image: ${IMAGE_NAME:-ghcr.io/olkkani/lostark-for-rice-front:latest}
    ports:
      - "3000:3000"
    networks:
      - network-processor
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - TZ=Asia/Seoul

  front-green:
    container_name: front-green
    # todo change image name
    image: ${IMAGE_NAME:-ghcr.io/olkkani/lostark-for-rice-front:latest}
    ports:
      - "3001:3000"
    networks:
      - network-processor
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - TZ=Asia/Seoul