name: processor-docker-deploy.yml
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  IMAGE_NAME: "ghcr.io/${{ github.repository_owner }}/processor"
  WORK_DIR: "/home/${{ secrets.USERNAME }}/lfr/processor"
  NGINX_DIR: "/home/${{ secrets.USERNAME }}/lfr/nginx"
jobs:
  detect-changes:
    runs-on: ubuntu-24.04
    outputs:
      processor-deploy: ${{ steps.changes.outputs.common == 'true'
        || steps.changes.outputs.processor-service == 'true'
        || steps.changes.outputs.deploy-script  == 'true'}}
      deploy-script: ${{ steps.changes.outputs.deploy-script == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Detect changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            deploy-script:
              - '.github/workflows/processor-docker-deploy.yml'
              - '.github/processor/**'
            common:
              - 'common/**'
            processor-service:
              - 'processor-service/**'
  build-processor:
    runs-on: ubuntu-24.04
    needs: detect-changes
    if: needs.detect-changes.outputs.processor-deploy == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Get short SHA for image tag
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build processor-service
        run: ./gradlew :processor-service:build

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.OLKK_GITHUB_TOKEN }}

      - name: Build and push processor-service Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./processor-service
          push: true
          platforms: linux/arm64
          tags: ${{ env.IMAGE_NAME }}:${{ env.SHORT_SHA }}


  serve-nginx-upstream-and-docker-compose-files:
    runs-on: ubuntu-24.04
    needs: [ detect-changes ]
    if: needs.detect-changes.outputs.processor-deploy == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get short SHA
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Copy upstream conf files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          source: "./.github/processor/upstream/"
          target: "${{ env.WORK_DIR }}"
          strip_components: 2 # remove 2 steps up directory. final path: work_dir/upstream
          rm: true

      - name: Copy docker-compose.yml to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          source: "./.github/processor/docker-compose.yml"
          target: "${{ env.WORK_DIR }}"
          strip_components: 3
          rm: true

      - name: Setup environment variables
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd ${{ env.WORK_DIR }}
            
            cat > .env << EOF
            IMAGE_TAG=${{ env.SHORT_SHA }}
            DB_CONNECTION_URL=${{ secrets.DB_CONNECTION_URL }}
            DB_USER=${{ secrets.DB_USER }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            DB_REDIS_HOST=${{ secrets.DB_REDIS_HOST }}
            DB_REDIS_PORT=${{ secrets.DB_REDIS_PORT }}
            DB_REDIS_PASSWORD=${{ secrets.DB_REDIS_PASSWORD }}
            EOF

  deploy-processor:
    runs-on: ubuntu-24.04
    needs: [ build-processor, serve-nginx-upstream-and-docker-compose-files ]
    if: needs.detect-changes.outputs.processor-deploy == 'true' &&
      (needs.serve-nginx-upstream-and-docker-compose-files.result == 'success' || needs.serve-nginx-upstream-and-docker-compose-files.result == 'skipped')
    steps:
      - name: Deploy processor-service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            COMPOSE_PATH="${{ env.WORK_DIR }}/docker-compose.yml"
            
            # 실행 중인 processor-service 확인
            ACTIVE_SERVICE=$(docker ps --format "{{.Names}}" | grep -E "processor-blue|processor-green" | head -n1)
            if [ "$ACTIVE_SERVICE" = "processor-blue" ]; then
              NEW_SERVICE="processor-green"
              OLD_SERVICE="processor-blue"
              mv "${{ env.WORK_DIR }}/upstream/processor-green.conf" "${{ env.NGINX_DIR }}/processor-active-upstream.conf"
            else
              NEW_SERVICE="processor-blue"
              OLD_SERVICE="processor-green"
              mv "${{ env.WORK_DIR }}/upstream/processor-blue.conf" "${{ env.NGINX_DIR }}/processor-active-upstream.conf"
            fi
            
            # 기존 서비스 종료
            docker compose -f "$COMPOSE_PATH" stop "$OLD_SERVICE" || true
            docker compose -f "$COMPOSE_PATH" rm -f "$OLD_SERVICE" || true
            
            # 새 서비스 실행
            docker compose -f "$COMPOSE_PATH" pull "$NEW_SERVICE"
            docker compose -f "$COMPOSE_PATH" up -d "$NEW_SERVICE"
            
            # Health check
            sleep 15 
            
            # Reload nginx config
            docker exec nginx nginx -s reload || true
            
            # 사용하지 않는 이미지 삭제
            docker image prune -f